@model Proyecto_ED1_v1.Controllers.HomeController
@{
    ViewData["Title"] = "SQLVista";
}
@using (Html.BeginForm("Leer", "LecturaDatos", FormMethod.Post))
{
    <input type="submit" value="Enviar" />
}

<h2>SQLVista</h2>
@using (Html.BeginForm())
{
    <div>
        @Html.TextAreaFor(Model => Model.texto, new { cols = 100, @rows = 10 })
    </div>
    <input type="submit" value="Ingresar" />
}

